// 色関係
$orange-light: #FFF8EA;
$orange: #FF6400;
$green-light: #F4FCF3;
$green: #21B209;
$brown-white:#FFF8EA;
$brown-light: #E4D5B3;
$brown: #5C3C20;
$gray-light: #EBEBEB;
$gray-mute: #D9D9D9;
$gray: #707070;
$gray-dark: #6F6F6F;

// 画面幅関係
$content-width: 1080px;
$side-width: 280px;
$break-point: 768px;

$article-width: calc( #{$content-width} - 160px );
$main-width: calc( #{$content-width} - #{$side-width} - 40px );
$break-point-minus-1: calc( #{$break-point} - 1px );
