.description-box{
  max-width: $article-width;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid $brown;
  @media (max-width:$article-width) {
    margin-left: 20px;
    margin-right: 20px;
  }
  &__title{
    text-align: center;
    color: white;
    background-color: $brown;
    padding: 15px;
    margin-top: -1px;
    margin-bottom: 0;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  &__inner{
    padding: 20px;
    padding-right: 0px;
    max-height: 440px;
    @media (max-width:$article-width) {
      padding: 10px 0px 20px 10px;
    }
  }
  ul{
    margin-top: 5px;
    max-height: 440px;
    overflow-y: scroll;
    padding-right: 10px;
    li{
      border-bottom: 2px dashed $brown;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  h6{
    font-size: 20px;
    color: $brown;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  p{
    font-size: 18px;
    color: $gray-dark;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
