.global-navi {
  position: relative;
  margin-bottom: 10px;
  @media (max-width:$break-point) {
    border-bottom: 10px solid $orange;
  }
  &__inner {
    max-width: $content-width;
    margin: 0 auto;
    @media (max-width:$break-point) {
      overflow-x: scroll;
    }
    >ul {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: space-evenly;
      @media (max-width:$break-point) {
        justify-content: flex-start;
      }
      >li{
        flex-grow: 1;
        height: 95px;
        font-size: 22px;
        width: 100%;
        position: relative;
        border-right: 2px solid $orange;
        min-width: 145px;
        @media (max-width:$content-width) {
          font-size: 16px;
        }
        @media (max-width:$break-point) {
          height: 80px;
          &:after {
            content: "";
            width: 2px;
            position: absolute;
            height: 11px;
            top:0;
            right:-2px;
            background-color: white;
          }
        }
        &:first-child{
          border-left: 2px solid $orange;
          min-width: 100px;
          >a{
            img{
              visibility: visible;
            }
            &:hover {
              background-color: white;
              color: $orange;
            }
          }
          @media (max-width:$break-point) {
            &:before {
              content: "";
              width: 2px;
              position: absolute;
              height: 11px;
              top: 0;
              left: -2px;
              background-color: white;
            }
          }
        }
        >a{
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: end;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          margin-left: 5px;
          margin-right: 5px;
          @media (max-width:$break-point) {
            background-color: $orange-light;
            margin-left: 0;
            margin-right: 0;
            img{
              visibility: hidden !important;
            }
          }
          img{
            // visibility: hidden;
          }
          span {
            line-height: 1;
            margin-bottom: 18px;
            margin-top: 5px;
          }
          &:hover{
            background-color: $yellow;
            // color: white;
            opacity: 1;
            img{
              // visibility: visible;
            }
            @media (max-width:$break-point) {
              background-color: $orange-light;
              color: $orange;
            }
          }
          &.is-opened{
            background-color: $yellow;
              // color: white;
              opacity: 1;
            
              img {
                // visibility: visible;
              }
            
              @media (max-width:$break-point) {
                background-color: $orange-light;
                color: $orange;
              }
          }
        }
        &.active {
          @media (max-width:$break-point) {
            border: none !important;
            >a{
              background-color: $orange  !important;
              color: white !important;
            }
          }
        }
      }
    }
  }
  &__hover{
    display: none;
    position: absolute;
    background-color: $orange-light;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
    bottom:0;
    border-top: 10px solid $yellow;
    transform: translateY(100%);
    padding-top: 35px;
    padding-bottom: 40px;
    &-inner{
      max-width: $content-width;
      margin: 0 auto;
    }
    &.is-opened{
      display: block;
      @media (max-width:$content-width) {
        display: none;
      }
    }
    ul{
      max-width: $content-width;
      margin: 0 auto;
    }
    &--guide{
      font-size: 22px;
      // display: block;
      padding-top: 55px;
      padding-bottom: 40px;
      ul{
        display: flex;
        flex-wrap: wrap;
        padding-left: 8%;
        li{
          margin-left: 60px;
          margin-right: 60px;
          margin-bottom: 20px;
          &:first-child{
            padding-left: 2em;
          }
          a{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            line-height: 1;
          }
        }
      }
      img{
        width: 22px;
        margin-left: 8px;
      }
    }
    &--benefit{
      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      &-text{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 22px;
        margin-top: 20px;
        line-height: 1;
        img{
          width: 22px;
          margin-left: 8px;
        }
      }
    }
    &--ranking{
      padding-top: 85px;
      ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
          position: relative;
        }
      }
      &-medal{
        position: absolute;
        left: 50%;
        top:-50px;
        transform: translateX(-50%);
        z-index: 2;
      }
      &-thumb{
        border-top-left-radius: 20px;
      }
      &-text{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 22px;
        margin-top: 20px;
        line-height: 1;
        img {
          width: 22px;
          margin-left: 8px;
        }
      }
      &-button{
        display: block;
        // margin: 0 auto;
        margin-top: 40px;
        color: white;
        background-color: $orange;
        font-size: 18px;
        // text-align: center;
        padding: 10px 30px;
        border-radius: 30px;
        box-shadow: 5px 5px 5px rgba(black,.16);
        &-area{
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}