.guide-cta {
  background-color: $green-light;

  &__inner {
    max-width: $content-width;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  h2 {
    color: $green;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      content: "";
      margin-top: 8px;
      display: block;
      width: 100px;
      height: 2px;
      background-color: $green;
    }

    margin-bottom: 40px;
  }

  ul {
    display: flex;
    margin-bottom: 60px;

    li {
      flex-grow: 1;
      margin-right: 30px;

      a {
        background-color: white;
        display: flex;
        color: $green;
        position: relative;
        font-size: 20px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(black, .16);
        align-items: center;
        justify-content: center;

        img {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__under {
    display: flex;

    >div {
      width: 50%;
      flex-grow: 1;
      padding-right: 30px;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
      }
    }

    &-item {
      a {
        background-color: white;
        display: block;
        padding: 40px;
        height: 160px;
        box-shadow: 5px 5px 5px rgba(black, .16);
        border-radius: 10px;
        color: $brown;

        h3 {
          font-size: 36px;
          line-height: 1;
          margin: 0 0 30px;
          text-align: center;

          small {
            font-size: 20px;
          }
        }

        p {
          font-size: 20px;
          line-height: 1.5;
        }
      }

      &--banner {
        a {
          padding: 0;
          height: auto;

          img {
            display: block;
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
