.header {
  &::before {
    display: block;
    content: "";
    height: 20px;
    background-color: $orange;
    @media (max-width:$break-point) {
      display: none;
    }
  }
  &__inner {
    max-width: $content-width;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:$content-width) {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
    }
  }
  &__logo {
    &-img-pc {
      max-width: 498px;
      @media (max-width:$break-point-minus-1) {
        display: none;
      }
    }
    &-img-sp {
      max-width: 280px;
      @media (min-width:$break-point) {
        display: none;
      }
    }
  }
  &__navi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 90px;
    padding-bottom: 12px;
    @media (max-width:$break-point) {
      display: none;
    }
    a {
      display: flex;
      align-items: center;
      color: $orange;
      border: $orange 2px solid;
      border-radius: 10px;
      height: 36px;
      position: relative;
      img {
        display: block;
        position: absolute;
        left: 12px;
      }
      span {
        font-size: 18px;
        line-height: 1;
        margin-left: 46px;
      }
    }
  }
}
