.main-contents {
  background-color: $orange-light;
  padding-top: 40px;

  @media (max-width:$break-point) {
    padding-top: 15px;
  }

  &__inner {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media (max-width:$content-width) {
      justify-content: center;
    }
  }

  &__left {
    width: $side-width;

    @media (max-width:$content-width) {
      display: none;
    }

    >a>img {
      margin-bottom: 20px;
    }
  }

  &__right {
    width: $main-width;
    margin-bottom: 60px;
    @media (max-width:$break-point) {
      margin-bottom: 0;
      // padding-bottom: 10px;
    }
    &-bg {
      @media (max-width:$break-point) {
        background-color: white;
        padding-top: 10px;
      }
    }
  }
}
