@import './vander/normalize';  // https: //necolas.github.io/normalize.css/
@import './variables/variable'; // 色や画面幅などの変数

body{
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: bold;
  box-sizing: border-box;
  color: $brown;
}

// FOUT回避 https://mightyace.co.jp/2021/03/29/column2886/
html{
  visibility: hidden;
  &.wf-active{
    visibility: visible;
  }
}

ul{
  list-style: none;
  padding-left: 0;
}

a{
  color: $orange;
  text-decoration: none;
  &:hover{
    opacity: .8;
  }
}

.shadow {
  box-shadow: 5px 5px 5px rgba(black, .16);
}

.rounded {
  border-radius: 10px;

  &-double {
    border-radius: 20px;
  }
}

@import './components/header'; // ヘッダ
@import './components/search-box'; // ヘッダ「キーワード検索」コンポーネント

.global-navi{
  &__inner{
    max-width: $content-width;
    margin: 0 auto;
  }
  ul{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
  }
}

@import './components/main-contents'; //トップページ 2カラムのレイアウト段組み周り
@import './components/category-box'; // トップページサイドバー「カテゴリー」
@import './components/important-notice'; // トップページ「重要なお知らせ」
@import './components/toppage-cards'; // トップページ「新着商品」「人気商品」
@import './components/all-cards'; // トップページ「商品一覧」

.featured{
  // padding-top: 60px;
  background-color: white;
  &__inner {
    background-color: $orange-light;
    padding-top: 40px;
    // max-width: $content-width;
    // margin: 0 auto;
    padding-bottom: 80px;
    @media (max-width:$break-point) {
      padding-top: 30px;
    }
  }
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 100px;
    background-color: $orange-light;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: 0 auto -20px;
    color: $orange;
    z-index: 2;
    position: relative;

    img {
      margin-top: 15px;
    }

    @media (max-width:$break-point) {
      margin-top: 10px;
      background-color: $orange;
      color: white;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      width: auto;
      height: 40px;

      img {
        display: none;
      }
    }
  }
  &__banners{
    max-width: $content-width;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.guide-cta{
  background-color: $green-light;
  &__inner{
    max-width: $content-width;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  h2{
    color: $green;
    font-size: 22px;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:after{
      content:"";
      margin-top: 8px;
      display: block;
      width: 100px;
      height: 2px;
      background-color: $green;
    }
    margin-bottom: 40px;
  }
  ul{
    display: flex;
    margin-bottom: 60px;
    li{
      flex-grow: 1;
      margin-right: 30px;
      a{
        background-color: white;
        display: flex;
        color: $green;
        position: relative;
        font-size: 20px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(black, .16);
        align-items: center;
        justify-content: center;
        img{
          position: absolute;
          right: 30px;
          top:50%;
          transform: translateY(-50%);
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__under{
    display: flex;
    // margin-bottom: 80px;
    >div{
      max-width: 50%;
      flex-grow: 1;
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
    }
    &-item{
      a{
        background-color: white;
        display: block;
        padding: 40px;
        height: 160px;
        box-shadow: 5px 5px 5px rgba(black, .16);
        border-radius: 10px;
        color: $brown;
        h3{
          font-size: 36px;
          line-height: 1;
          margin: 0 0 30px;
          text-align: center;
          small{
            font-size: 20px;
          }
        }
        p{
          font-size: 20px;
          line-height: 1.5;
        }
      }
    }
  }
}



