@import './vander/normalize';  // https: //necolas.github.io/normalize.css/
@import './variables/variable'; // 色や画面幅などの変数

body{
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: bold;
  box-sizing: border-box;
  color: $brown;
  overflow-x: hidden;
}

// FOUT回避 https://mightyace.co.jp/2021/03/29/column2886/
html{
  visibility: hidden;
  &.wf-active{
    visibility: visible;
  }
}

ul{
  list-style: none;
  padding-left: 0;
}

a{
  color: $orange;
  text-decoration: none;
  &:hover{
    opacity: .8;
  }
}

.shadow {
  box-shadow: 5px 5px 5px rgba(black, .16);
}

.rounded {
  border-radius: 10px;

  &-double {
    border-radius: 20px;
  }
}

@import './components/header'; // ヘッダ
@import './components/search-box'; // ヘッダ「キーワード検索」コンポーネント

.global-navi{
  &__inner{
    max-width: $content-width;
    margin: 0 auto;
  }
  ul{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
  }
}



@import './components/carousel'; //トップページ メインスライダー
@import './components/carousel-sp'; //トップページ スマホ用スライダー
@import './components/main-contents'; //トップページ 2カラムのレイアウト段組み周り
@import './components/category-box'; // トップページサイドバー「カテゴリー」
@import './components/important-notice'; // トップページ「重要なお知らせ」
@import './components/toppage-cards'; // トップページ「新着商品」「人気商品」
@import './components/all-cards'; // トップページ「商品一覧」
@import './components/featured'; // トップページ「特集」
@import './components/guide-cta'; // トップページ「ご不明点」
@import './components/footer'; // フッタ
@import './components/sp-menu'; // スマホ画面下メニュー
@import './components/article'; // 商品ページ説明記事
@import './components/description-box'; // 商品ページ説明記事

@import './components/trouble'; // 商品ページ「お悩み」









