@import './vander/normalize';  // https: //necolas.github.io/normalize.css/
@import './variables/variable'; // 色や画面幅などの変数

body{
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: bold;
  box-sizing: border-box;
}

a{
  color: $orange;
  text-decoration: none;
  &:hover{
    opacity: .8;
  }
}

.header{
  &::before{
    display: block;
    content: "";
    height: 20px;
    background-color: $orange;
    @media (max-width:$break-point) {
      display: none;
    }
  }
  &__inner{
    max-width: $content-width;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:$content-width) {
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__logo{
    @media (max-width:$break-point) {
      margin:0 auto;
    }
    &-img-pc{
      @media (max-width:$break-point-minus-1) {
        display: none;
      }
    }
    &-img-sp{
      @media (min-width:$break-point) {
        display: none;
      }
    }
  }
  &__navi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 90px;
    @media (max-width:$break-point) {
      display: none;
    }
    a{
      display: flex;
      align-items: center;
      color: $orange;
      border: $orange 2px solid;
      border-radius: 10px;
      height: 36px;
      position: relative;
      img{
        display: block;
        position: absolute;
        left:12px;
      }
      span{
        font-size: 18px;
        line-height: 1;
        margin-left: 46px;
      }
    }
  }
}

@import './components/search-box';

.global-navi{
  &__inner{
    max-width: $content-width;
    margin: 0 auto;
  }
  ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
  }
}

.main-contents{
  background-color: $orange-light;
  padding-top: 40px;
  &__inner{
    max-width: $content-width;
    margin: 0 auto;
  }
  &__left{
    width: $side-width;
    @media (max-width:$content-width) {
      display: none;
    }
    img{
      margin-bottom: 20px;
    }
  }
}

.shadow{
  box-shadow: 5px 5px 5px rgba(black, .16);
}

.rounded{
  border-radius: 10px;
  &-double{
    border-radius: 20px;
  }
}
